llama-index 
ftfy 
regex 
tqdm
torch
torchvision
matplotlib
psycopg2
python-dotenv
whitenoise

sentence_transformers
transformers
qdrant-client==1.9.0
llama-index-vector-stores-qdrant==0.2.8


llama_index.embeddings.huggingface
stack-data==0.5.0
llama_index.embeddings.langchain
llama-index-llms-langchain


llama_index.llms.together
IPython
flask
python-docx
flask_mail
azure-storage-blob
PyPDF2

