llama-index 
ftfy 
regex 
tqdm
torch
torchvision
matplotlib


sentence_transformers
transformers
qdrant-client
llama-index-vector-stores-qdrant


llama_index.embeddings.huggingface
stack-data==0.5.0
llama_index.embeddings.langchain
llama-index-llms-langchain


llama_index.llms.together
IPython
flask
python-docx
flask_mail
azure-storage-blob
PyPDF2

